

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script>

<script>

    console.log($('#sidebar-carts .media input[type=number]').val())
    // Quantity


</script>


<div class="right-content right-bg">
    <div class="d-flex align-items-center chart-sec ml-3">
        <img src="images/chart-icon.svg" alt="">
        <h1 class="m-0 ml-2">Pesanan</h1>
        <br>
    </div>
    <br>
    <div style="overflow-y: scroll; height: 500px;">
        <div class="cart-box" id="sidebar-carts">
            
            {{!-- <div class="media">
                <img src="images/photo/makanan/sostel.jpg" class="align-self-start mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Sostel</h5>
                    <p class="m-0">Rp. 16, 000</p>
                    <div class="d-flex align-items-center">
                        <p class="m-0 mr-2">Jumlah</p>
                        <div class="d-flex button-quantity">
                            <button class="button-quantity_inner red">-</button>
                            <input class="button-quantity_form" type="text" value="2">
                            <button class="button-quantity_inner green">+</button>
                        </div>
                    </div>
                </div>
                <a href="#"><img src="images/close-icon.png" alt=""></a>
            </div>

            <div class="media">
                <img src="images/photo/minuman/chapayom.jpg" class="align-self-start mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Chapayom</h5>
                    <p class="m-0">Rp. 18,000</p>

                    <div class="d-flex align-items-center">
                        <p class="m-0 mr-2">Jumlah</p>
                        <div class="d-flex button-quantity">
                            <button class="button-quantity_inner red">-</button>
                            <input class="button-quantity_form" type="text" value="2">
                            <button class="button-quantity_inner green">+</button>
                        </div>
                    </div>
                </div>
                <a href="#"><img src="images/close-icon.png" alt=""></a>
            </div> --}}

        </div>

        <div class="total">
            <label for="">Nama Pemesan</label>
            <input type="text" name="nama-pemesan" placeholder="Masukan nama pemesan" class="form-control">
            <br>
            <label for="">Pilih Nomor Meja</label>
            <select name="nomor-meja" id="" class="form-control nomor-meja">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
            <br>
            <div class="boxs">
                <label class="m-0">Total</label>
                <h3>Rp. <span id="sumSidebar">0</span></h3>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-cf btn-primary btn-goOrder">Pesan Sekarang</a>
</div>

    