{{> manajerHeader }}

<div class="container-fluid mt-3 mb-4">

    <ul class="marker-menu d-flex">
        <li>Home</li>
        <li>2019</li>
    </ul>

    <div class="table-admin">
        <table class="table table-bordered table-vertical-middle">
            <thead class="thead-dark">
                <tr>
                    <th width="100" scope="col" rowspan="2">Bulan</th>
                    <th scope="col" colspan="5">Minuman</th>
                    <th scope="col" colspan="6">Makanan</th>
                    <th width="140" rowspan="2">Omset</th>
                    <th width="100" rowspan="2">Aksi</th>
                </tr>
                <tr>
                    <th>Ban-ban</th>
                    <th>Origins Authentic</th>
                    <th>Chapayom</th>
                    <th>Hei ho</th>
                    <th>Rinne Cheese Tea</th>
                    <th>Sostel</th>
                    <th>Indomie Donat </th>
                    <th>Es Kepal Milo </th>
                    <th>Nugget Pisang</th>
                    <th>Ayam Geprek</th>
                    <th>Salte Egg Chiken</th>
                </tr>
            </thead>
            <tbody class="hover-col">
                <tr>
                    <td>Januari</td>
                    <td>43</td>
                    <td>54</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 1,234,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                 <tr>
                    <td>Februari</td>
                    <td>44</td>
                    <td>53</td>
                    <td>54</td>
                    <td>33</td>
                    <td>72</td>
                    <td>234</td>
                    <td>54</td>
                    <td>13</td>
                    <td>76</td>
                    <td>34</td>
                    <td>83</td>
                    <td>Rp. 1,221,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                 <tr>
                    <td>Maret</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>April</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>Mei</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>Juni</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>4</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 81,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>Juli</td>
                    <td>44</td>
                    <td>233</td>
                    <td>52</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>534</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 22,000,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>Agustus</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>44</td>
                    <td>2</td>
                    <td>5</td>
                    <td>33</td>
                    <td>7</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>8</td>
                    <td>Rp. 211,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>Oktober</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td>Desember</td>
                    <td>44</td>
                    <td>23</td>
                    <td>5</td>
                    <td>33</td>
                    <td>72</td>
                    <td>34</td>
                    <td>54</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>83</td>
                    <td>Rp. 911,000,000</td>
                    <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                </tr>
                <tr>
                    <td colspan="12" align="center">Total</td>
                    <td colspan="2">300,000,000,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{> manajerFooter }}