{{> manajerHeader }}

<div class="container-fluid mt-3 mb-4">

    <ul class="marker-menu d-flex">
        <li>Home</li>
        <li>2019</li>
    </ul>

    <div class="table-admin">
        <table class="table table-bordered table-vertical-middle">
            <thead class="thead-dark">
                <tr>
                    <th width="100" scope="col" rowspan="2">Bulan</th>
                    <th scope="col" colspan="5">Minuman</th>
                    <th scope="col" colspan="6">Makanan</th>
                    <th width="140" rowspan="2">Omset</th>
                    <th width="100" rowspan="2">Aksi</th>
                </tr>
                <tr>
                    <th>Ban-ban</th>
                    <th>Origins Authentic</th>
                    <th>Chapayom</th>
                    <th>Hei ho</th>
                    <th>Rinne Cheese Tea</th>
                    <th>Sostel</th>
                    <th>Indomie Donat </th>
                    <th>Es Kepal Milo </th>
                    <th>Nugget Pisang</th>
                    <th>Ayam Geprek</th>
                    <th>Salte Egg Chiken</th>
                </tr>
            </thead>
            <tbody class="hover-col">

                {{#each foods}}
                    <tr>
                        <td>Januari</td>
                        <td>{{ this.nama_produk }}</td>
                        <td>{{ this.nama_produk }}</td>
                        <td>54</td>
                        <td>43</td>
                        <td>76</td>
                        <td>234</td>
                        <td>54</td>
                        <td>123</td>
                        <td>76</td>
                        <td>34</td>
                        <td>878</td>
                        <td>Rp. 1,234,000,000</td>
                        <td><a href="/manajer/bulan/hari">Lihat Detail</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{> manajerFooter }}