

{{> manajerHeader }}

<div class="container-fluid mt-3 mb-4">

    <ul class="marker-menu d-flex">
        <li>Home</li>
        <li>2019</li>
        <li>januari</li>
    </ul>

    <div class="table-admin">
        <table class="table table-bordered table-vertical-middle">
            <thead class="thead-dark">
                <tr>
                    <th width="100" scope="col" rowspan="2">Bulan</th>
                    <th scope="col" colspan="5">Minuman</th>
                    <th scope="col" colspan="6">Makanan</th>
                    <th width="140" rowspan="2">Omset</th>
                </tr>
                <tr>
                    <th>Ban-ban</th>
                    <th>Origins Authentic</th>
                    <th>Chapayom</th>
                    <th>Hei ho</th>
                    <th>Rinne Cheese Tea</th>
                    <th>Sostel</th>
                    <th>Indomie Donat </th>
                    <th>Es Kepal Milo </th>
                    <th>Nugget Pisang</th>
                    <th>Ayam Geprek</th>
                    <th>Salte Egg Chiken</th>
                </tr>
            </thead>
            <tbody class="hover-col">
                <tr>
                    <td>1/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 44,000,000</td>
                </tr>
                <tr>
                    <td>2/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 34,000,000</td>
                </tr>
                <tr>
                    <td>3/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 43,000,000</td>
                </tr>
                <tr>
                    <td>4/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 65,000,000</td>
                </tr>
                <tr>
                    <td>5/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 84,000,000</td>
                </tr>
                <tr>
                    <td>6/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 54,000,000</td>
                </tr>
                <tr>
                    <td>7/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 23,000,000</td>
                </tr>
                <tr>
                    <td>8/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 54,000,000</td>
                </tr>
                <tr>
                    <td>9/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 34,000,000</td>
                </tr>
                <tr>
                    <td>10/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 32,000,000</td>
                </tr>
                <tr>
                    <td>11/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 54,000,000</td>
                </tr>
                <tr>
                    <td>12/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 54,000,000</td>
                </tr>
                <tr>
                    <td>13/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 34,000,000</td>
                </tr>
                <tr>
                    <td>14/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 43,000,000</td>
                </tr>
                <tr>
                    <td>15/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 24,000,000</td>
                </tr>
                <tr>
                    <td>16/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 64,000,000</td>
                </tr>
                <tr>
                    <td>17/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 54,000,000</td>
                </tr>
                <tr>
                    <td>18/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 44,000,000</td>
                </tr>
                <tr>
                    <td>19/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 44,000,000</td>
                </tr>
                <tr>
                    <td>20/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 43,000,000</td>
                </tr>
                <tr>
                    <td>21/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 34,000,000</td>
                </tr>
                <tr>
                    <td>22/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 12,000,000</td>
                </tr>
                <tr>
                    <td>23/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 34,000,000</td>
                </tr>
                <tr>
                    <td>24/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 4,000,000</td>
                </tr>
                <tr>
                    <td>25/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 24,000,000</td>
                </tr>
                <tr>
                    <td>26/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 11,000,000</td>
                </tr>
                <tr>
                    <td>27/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 23,000,000</td>
                </tr>
                <tr>
                    <td>28/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 4,000,000</td>
                </tr>
                <tr>
                    <td>29/1/2019</td>
                    <td>32</td>
                    <td>43</td>
                    <td>54</td>
                    <td>43</td>
                    <td>76</td>
                    <td>234</td>
                    <td>54</td>
                    <td>123</td>
                    <td>76</td>
                    <td>34</td>
                    <td>878</td>
                    <td>Rp. 34,000,000</td>
                </tr>
                <tr>
                    <td colspan="12">Total</td>
                    <td>Rp. 1,234,000,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{> manajerFooter }}