{{> staffHeader }}

<div class="container mt-3 mb-4">

    <div class="max-width-staff">

        <div class="staf-box">
            <div class="row">
                <div class="col-md-7">
                    <div class="staf-box__inner d-flex align-items-center justify-content-between">
                        <div class="media">
                            <img src="images/photo/makanan/sostel.jpg" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Sostel</h5>
                                <table>
                                    <tr>
                                        <td width="80">Jumlah</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>Rp. 48,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href=""><img class="staf-delete-icon" src="images/trash-icon.svg" alt=""></a>
                    </div>
                    <div class="staf-box__inner d-flex align-items-center justify-content-between">
                        <div class="media">
                            <img src="images/photo/minuman/chapayom.jpg" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Chapayom</h5>
                                <table>
                                    <tr>
                                        <td width="80">Jumlah</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>Rp. 36,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href=""><img class="staf-delete-icon" src="images/trash-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div>
                        <div class="no-meja">
                            <label class="mb-1" for="">Nomor Meja</label>
                            <h2>3</h2>
                        </div>
                        <div class="total">
                            <label class="mb-1" for="">Total</label>
                            <h2>Rp. 84,000</h2>
                        </div>
                        <div class="btn-td d-flex justify-content-between mt-4">
                            <a href="" class="btn btn-danger">Tolak</a>
                            <a href="" class="btn btn-success">Disetujui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="staf-box">
            <div class="row">
                <div class="col-md-7">
                    <div class="staf-box__inner d-flex align-items-center justify-content-between">
                        <div class="media">
                            <img src="images/photo/makanan/ayam-geprek.jpg" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Ayam Geprek</h5>
                                <table>
                                    <tr>
                                        <td width="80">Jumlah</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>Rp. 34,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href=""><img class="staf-delete-icon" src="images/trash-icon.svg" alt=""></a>
                    </div>
                    <div class="staf-box__inner d-flex align-items-center justify-content-between">
                        <div class="media">
                            <img src="images/photo/minuman/chapayom.jpg" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Chapayom</h5>
                                <table>
                                    <tr>
                                        <td width="80">Jumlah</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>Rp. 36,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href=""><img class="staf-delete-icon" src="images/trash-icon.svg" alt=""></a>
                    </div>
                    <div class="staf-box__inner d-flex align-items-center justify-content-between">
                        <div class="media">
                            <img src="images/photo/minuman/banban.jpg" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Banban</h5>
                                <table>
                                    <tr>
                                        <td width="80">Jumlah</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>Rp. 54,000</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href=""><img class="staf-delete-icon" src="images/trash-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div>
                        <div class="no-meja">
                            <label class="mb-1" for="">Nomor Meja</label>
                            <h2>2</h2>
                        </div>
                        <div class="total">
                            <label class="mb-1" for="">Total</label>
                            <h2>Rp. 124,000</h2>
                        </div>
                        <div class="btn-td d-flex justify-content-between mt-4">
                            <a href="" class="btn btn-danger">Tolak</a>
                            <a href="" class="btn btn-success">Disetujui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{{> staffFooter }}